<head>
    <script type="text/javascript">
        // task 2
        class Provider {              
            static getWeather(city) {  
                return Promise.resolve(`The weather of ${city} is Cloudy`)  
            };              
            static getLocalCurrency(city) {  
                return Promise.resolve(`The local currency of ${city} is GBP`)  
            };               
            static findCity(long, lat) {  
                return Promise.resolve(`London`)  
            };  
        };

        Provider.findCity(0.1278, 51,5074).then(cityName =>
            console.log('The city located at 51,5074(lat), 0.1278(long) is', cityName)
        )

        Provider.findCity(0.1278, 51,5074).then(cityText =>
            Provider.getWeather(cityText).then(weatherAnswer => console.log(weatherAnswer))
        )
        Provider.findCity(0.1278, 51,5074).then(cityText =>
            Promise.all([
                Provider.getWeather(cityText),
                Provider.getLocalCurrency(cityText)
            ]).then(answers => 
                console.log(`1) ${answers[0]} 2) ${answers[1]}`)
            )            
        )

        // task 4
        const stateProcessing = 'processing'
        const stateError = 'error'
        const stateSuccess = 'success'
        const errorCodeNoStock = 'NO_STOCK'
        const errorCodeIncorrectDetails = 'INCORRECT_DETAILS'
        const errorCodeStateNotFound = 'INCORRECT_STATE_FOUND'
        const errorCodeToMessage = {
            [errorCodeNoStock]: 'No stock has been found',
            [errorCodeIncorrectDetails]: 'Incorrect details have been entered',
            [errorCodeStateNotFound]: 'Incorrect state found'
        }
        const processingTimeout = 2000
        const titleErrorPage = 'Error Page'      
        const titleOrderComplete = 'Order complete'  
        const actionReturnWithError = 'return-with-error'
        const actionReturnWithSuccess = 'return-with-success'
        const actionStateNotFound = 'state-not-found'
        const actionFetchNextState = 'fetch-next-state'
        const currentStateToAction = (state, errorCode) => {            
            switch(state) {
                case stateProcessing:
                    return new Promise(resolve => {
                        setTimeout(() => {
                            resolve(actionFetchNextState)
                        }, processingTimeout);
                    });
                    break
                case stateError:
                    return Promise.resolve(actionReturnWithError)
                    break
                case stateSuccess:
                    return Promise.resolve(actionReturnWithSuccess)
                    break
                default:
                    return Promise.resolve(actionStateNotFound)
            }

        }
        const getProcessingPage = async (stateDataArray) => {
            let action = actionFetchNextState
            let carriedErrorCode = undefined
            let index = 0
            while (action == actionFetchNextState){
                let stateData = stateDataArray[index]
                let {state, errorCode} = stateData                
                action = await currentStateToAction(state, errorCode)   
                if (action === actionReturnWithError) carriedErrorCode = errorCode
                index++
            }            
            switch(action) {
                case actionReturnWithError:
                    return ({
                        title: titleErrorPage,
                        message: errorCodeToMessage[carriedErrorCode] || null
                    })
                    break
                case actionReturnWithSuccess:
                    return ({
                        title: titleOrderComplete,
                        message: null
                    })
                    break                   
                default:
                    return ({
                        title: titleErrorPage,
                        message: errorCodeToMessage[errorCodeStateNotFound]
                    })
            }            
        }
        const exampleStates1 = [
            { state: stateProcessing },      
            { state: stateError, /* missing error code */ }
        ]
        const exampleStates2 = [
            { state: stateProcessing },
            { state: stateError, errorCode: errorCodeNoStock }
        ]
        const exampleStates3 = [
            { state: 'not-valid-state' /* bad state name */ },            
        ]        
        getProcessingPage(exampleStates1).then(answer => console.log('answer 1', answer))
        getProcessingPage(exampleStates2).then(answer => console.log('answer 2', answer))
        getProcessingPage(exampleStates3).then(answer => console.log('answer 3', answer))        
    </script>
</head>
<body>
    Hello, pls see console.
</body>